body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(30, 4, 4, 0.404),rgba(4, 9, 30, 0.404)),url(landscape.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    margin: 20px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid white;
}
.container{
    text-align: center;
 
}
#fb,#insta,#twtr,#git{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.171);
}
a.github,a.instagram,a.twitter,a.facebook{
    width: 100px;
    color: rgba(255, 255, 255, 0.932);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-decoration: none;
}
button{
    width: 250px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(92, 92, 92, 0.171);
    border-radius: 10px;
    padding: 10px;
}
#button{
    margin-top: 15px;
}
